

<!DOCTYPE html>

<html>

<head>
    <title>NAR001 | Narus Global</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1" />
    <meta name="author" content="Narus Global">


    <link href="~/Content/css/landing.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/lightgallery.css" rel="stylesheet" />
    <link href="~/Content/css/lightslider.css" rel="stylesheet" />

    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery-1.6.min.js"></script>   
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&amp;subset=cyrillic-ext,latin-ext" rel="stylesheet">
    <script src="~/Scripts/lightslider.js"></script>     
    <style>      
        .projectslider, .sliderdis {
            height: initial;
        }

        .span8 {
            padding-left: 0;
            text-align: center;
            font-size: 15px;
            margin-bottom: 5px;
            margin-top: 7px;
        }

        .span11 {
            padding-left: 0;
            text-align: center;
            color: #fff;
            font-size: 13px;
            margin-top: 11px;
        }

            .span11 label {
                color: #fff;
            }

        .spanplus {
            border: 2px solid #fff;
            color: #fff;
        }

            .spanplus:hover {
                background-color: #e2a95a;
                border: 2px solid #fff;
            }
       
    </style>
  
</head>
<body>
   

    <div class="maintop relative100" style="margin-top:-1%;">
        <div class="relative100">
            <a href="/Home/Anasayfa"><img src="~/Content/images/logo.png" class="logo_img" /></a>
          
            <span class="span14 span14x">              
                    <a class="linesoc wow fadeInUp animated" data-wow-delay="0.5s" href="#" style="float: none; visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <img src="~/Content/images/line.png">
                    </a>
                    <a class="watssoc wow fadeInUp animated" data-wow-delay="0.5s" href="#" style="float: none; visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <img src="~/Content/images/whatsapp.png">
                    </a>
                    <a class="imosoc wow fadeInUp animated" data-wow-delay="0.5s" href="#" style="float: none; visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <img src="~/Content/images/imo.png">
                    </a>                          
            </span>
        </div>
      
        @RenderBody();
        
    </div>
    

    <div class="footer relative100" style="background-color: #f8f8f8; margin-top:4%;">
        <div class="footeric">
            <div class="footerbox">
                <a href="/Home/Anasayfa">
                    <img src="~/Content/images/footerlogo.png" class="footerlogo_img wow fadeInUp animated" data-wow-delay="0.5s" style="position: relative; top: 32px; visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                </a>
                <span class="span12 wow fadeInUp animated" data-wow-delay="0.5s" style="font-size: 13px; float: none; margin-left: 15px; visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    ISTANBUL / TURKEY<br>
                    <a href="/Home/Anasayfa" style="text-decoration: none; color: #202121; cursor:default;">
                        +90 111 11 11
                    </a>
                </span>
            </div>
            <div class="footerbox">
                <span class="span13 wow fadeInUp animated" data-wow-delay="0.5s" style="margin-left: 0px; margin-top: 43px; visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    info@narusglobal.com
                </span>
                <span class="span14 wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
            <div class="footerbox">
                <span class="socialall socialall2" style="margin-top: 25px; padding-left: 0px;">
                    <a class="linesoc wow fadeInUp animated" data-wow-delay="0.5s" href="#" style="float: none; visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <img src="~/Content/images/line.png">
                    </a>
                    <a class="watssoc wow fadeInUp animated" data-wow-delay="0.5s" href="#" style="float: none; visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <img src="~/Content/images/whatsapp.png">
                    </a>
                    <a class="imosoc wow fadeInUp animated" data-wow-delay="0.5s" href="#" style="float: none; visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <img src="~/Content/images/imo.png">
                    </a>
                    <a href="#" class="telsoc wow fadeInUp animated" data-wow-delay="0.5s" style="width: 100%; visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp; display: inline-block; position: relative; float: left; color: #4d5255;font-size: 15px; font-family: 'Avenir-Black'; text-decoration: none; margin-left: 10px; padding-top: 4px; cursor: default;">+90 111 11 11</a>
                </span>
            </div>

        </div>
                    
    </div>

    <link href="~/Content/css/lightgallery.css" rel="stylesheet" />
    <script src="~/Scripts/lightgallery.js"></script>
    <script src="~/Scripts/lg-autoplay.js"></script>
    <script src="~/Scripts/lg-fullscreen.js"></script>
    <script src="~/Scripts/lg-hash.js"></script>
    <script src="~/Scripts/lg-pager.js"></script>
    <script src="~/Scripts/lg-thumbnail.js"></script>
    <script src="~/Scripts/lg-video.js"></script>
    <script src="~/Scripts/lg-zoom.js"></script>
    <script src="~/Scripts/wow.min.js"></script>      
    <link href="~/Content/css/validationEngine.jquery.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/jquery.validationEngine-tr.js"></script>
    <script src="~/Scripts/jquery.validationEngine.js"></script>
    <script src="~/Scripts/LightAlert.js"></script>
    <script src="~/Scripts/detay.js"></script>
    
</body>
</html>
