@model WORKCUBE.Models.Login


@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LOGIN PAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

    <link href="~/Content/css/login.css" rel="stylesheet" />

</head>
<body>
    
    <div class="cont">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <a href="/Home/Anasayfa" style="font-size:30px; font-weight: bolder; padding-left:2%; color:#e65728;">GO BACK</a>
        </div>
        <div class="demo">
            <div class="login">
                <a href="/Home/Anasayfa">
                    <div class="login__check"></div>
                </a>
                <div class="login__form">
                    @using (Html.BeginForm("Auterize", "Login", FormMethod.Post))
                    {
                        <div class="login__row">
                            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                                <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                            </svg>

                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "login__input name", @placeholder = "USER NAME:" } })
                        </div>
                        <div class="login__row">
                            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                                <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                            </svg>

                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "login__input pass", @placeholder = "PASSWORD:" } })
                        </div>

                        <input type="submit" class="login__submit" value="LOGIN">

                    }
                </div>
            </div>

        </div>

    </div>


    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="~/Content/login/js/login.js"></script>
</body>
</html>

