@model IEnumerable<WORKCUBE.Models.Project>
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@* SOL ÜST *@
<div class="relative100">

    <div id="captioned-gallery">
        <figure class="slider">
            <figure>
                <img src="~/Content/images/nef_bahcelievler.jpg" alt>
                <figcaption>NAR0014 | ISTANBUL</figcaption>
            </figure>
            <figure>
                <img src="~/Content/images/bodrum.jpg" alt>
                <figcaption>NAR0014 | ISTANBUL</figcaption>
            </figure>
            <figure>
                <img src="~/Content/images/kordonistanbul.jpg" alt>
                <figcaption>NAR0014 | ISTANBUL</figcaption>
            </figure>
            <figure>
                <img src="~/Content/images/nef_yalikavak.jpg" alt>
                <figcaption>NAR0014 | ISTANBUL</figcaption>
            </figure>
            <figure>
                <img src="~/Content/images/istanbul.jpg" alt>
                <figcaption>NAR0014 | ISTANBUL</figcaption>
            </figure>
        </figure>
    </div>
    <img src="~/Content/images/sale.png" class="cover" />

</div>

@*SOL TARAF İÇERİK*@
<div class="header-alt">
    <div class="tirnak" style="text-align:center; font-size:xx-large; color:#588ba8; padding-top:78%; font-weight:900;">
        <img src="~/Content/images/soltirnak.png" />

        OUR PROJECTS

        <img src="~/Content/images/sagtirnak.png" />
    </div>
    <p class="secure" style="text-align:center; font-size:18px; color:#bbb; padding-top:0; padding-bottom:3%; padding-right:1%; padding-left:1%;">
        SECURE 6% GUARANTEED RENTAL RETURN IN ISTANBUL
    </p>

    <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="min-width:33%; max-width:100%;">
            <div class="projectitem">
                <a href="/Detail/Detay">
                    <div class="imgitem1">

                    </div>
                    <span class="span8">
                        NAR013
                    </span>
                    <span class="span9" style="margin-top: 8px; font-size: 15px;">
                        <b>City:</b> İstanbul
                    </span>
                    <span class="span10" style="margin-top: 8px; font-size: 15px;">
                        <b>Location:</b> Topkapı - European Side
                    </span>
                    <span class="span11" style="margin-top: 8px; font-size: 15px;">
                        <b>Prices:</b> Starting from <label> 129.000 USD</label>
                    </span>
                    <span class="spanplus" data-val="/Projects/Nar013" style="left: initial;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
           
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="min-width:33%; max-width:100%;">
            <div class="projectitem">
                <a href="/Detail/Detay">
                    <div class="imgitem2">
                    </div>

                    <img src="~/Content/images/offer1.png" class="offer" />

                    <span class="span8">
                        NAR014
                    </span>
                    <span class="span9" style="margin-top: 8px; font-size: 15px;">
                        <b>City:</b> İstanbul
                    </span>
                    <span class="span10" style="margin-top: 8px; font-size: 15px;">
                        <b>Location:</b> Topkapı - European Side
                    </span>
                    <span class="span11" style="margin-top: 8px; font-size: 15px;">
                        <b>Prices:</b> Starting from <label> 129.000 USD</label>
                    </span>
                    <span class="spanplus" data-val="/Projects/Nar014" style="left: initial;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
           
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="min-width:33%; max-width:100%;">
            <div class="projectitem">
                <a href="/Detail/Detay">
                    <div class="imgitem3">

                    </div>
                    <img src="~/Content/images/offer1.png" class="offer" />
                    <span class="span8">
                        NAR015
                    </span>
                    <span class="span9" style="margin-top: 8px; font-size: 15px;">
                        <b>City:</b> İstanbul
                    </span>
                    <span class="span10" style="margin-top: 8px; font-size: 15px;">
                        <b>Location:</b> Topkapı - European Side
                    </span>
                    <span class="span11" style="margin-top: 8px; font-size: 15px;">
                        <b>Prices:</b> Starting from <label> 129.000 USD</label>
                    </span>
                    <span class="spanplus" data-val="/Projects/Nar015" style="left: initial;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
          
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="min-width:33%; max-width:100%;">
            <div class="projectitem">
                <a href="/Detail/Detay">
                    <div class="imgitem4">

                    </div>
                    <img src="~/Content/images/offer1.png" class="offer" />
                    <span class="span8">
                        NAR001
                    </span>
                    <span class="span9" style="margin-top: 8px; font-size: 15px;">
                        <b>City:</b> İstanbul
                    </span>
                    <span class="span10" style="margin-top: 8px; font-size: 15px;">
                        <b>Location:</b> Topkapı - European Side
                    </span>
                    <span class="span11" style="margin-top: 8px; font-size: 15px;">
                        <b>Prices:</b> Starting from <label> 129.000 USD</label>
                    </span>
                    <span class="spanplus" data-val="/Projects/Nar001" style="left: initial;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
           
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="min-width:33%; max-width:100%;">
            <div class="projectitem">
                <a href="/Detail/Detay">
                    <div class="imgitem5">

                    </div>
                    <img src="~/Content/images/offer1.png" class="offer" />
                    <span class="span8">
                        NAR012
                    </span>
                    <span class="span9" style="margin-top: 8px; font-size: 15px;">
                        <b>City:</b> İstanbul
                    </span>
                    <span class="span10" style="margin-top: 8px; font-size: 15px;">
                        <b>Location:</b> Topkapı - European Side
                    </span>
                    <span class="span11" style="margin-top: 8px; font-size: 15px;">
                        <b>Prices:</b> Starting from <label> 129.000 USD</label>
                    </span>
                    <span class="spanplus" data-val="/Projects/Nar012" style="left: initial;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
           
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="min-width:33%; max-width:100%;">
            <div class="projectitem">
                <a href="/Detail/Detay">
                    <div class="imgitem5">

                    </div>
                    <img src="~/Content/images/offer1.png" class="offer" />
                    <span class="span8">
                        NAR012
                    </span>
                    <span class="span9" style="margin-top: 8px; font-size: 15px;">
                        <b>City:</b> İstanbul
                    </span>
                    <span class="span10" style="margin-top: 8px; font-size: 15px;">
                        <b>Location:</b> Topkapı - European Side
                    </span>
                    <span class="span11" style="margin-top: 8px; font-size: 15px;">
                        <b>Prices:</b> Starting from <label> 129.000 USD</label>
                    </span>
                    <span class="spanplus" data-val="/Projects/Nar012" style="left: initial;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
            
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="min-width:33%; max-width:100%; padding-top:2%;">
            <a href="/Category/Kategori" style="color:#e65728; font-weight:bold; font-size:30px;">MORE PROJECTS</a>
        </div>

    </div>
   
    <div class="tirnak" style="text-align:center; font-size:xx-large; color:#588ba8; padding-top:70%; font-weight:900;">
        <img src="~/Content/images/soltirnak.png" />
        Narus Global
        <img src="~/Content/images/sagtirnak.png" />
    </div>
    <p class="secure" style="text-align:center; font-size:18px; color:#bbb; padding-top:0; padding-bottom:0;">
        REAL ESTATE SERVICES
    </p>
    <p style="text-align:center; font-size:18px; color:#588ba8; padding-top:0; padding-bottom:3%; padding-left:1%; padding-right:1%;">
        We work for you to reach secure investments with comfort and confidence
    </p>
    <p style="text-align:center; font-size:16px; color:#bbb; padding-top:0; padding-bottom:0; padding-right: 5%;
    padding-left: 5%;">
        Narus Global is a professional services and investment management company specialising in real estate. <br />
        Either you are interested in buying a new property in Turkey, or you are looking for a company which can look after your investment, we are here to offer you the best service.
    </p>
    <p style="text-align:center; font-size:16px; color:#bbb; padding-top:0; padding-bottom:0; padding-right: 5%;
    padding-left: 5%;">
        Narus Global is a professional services and investment management company specialising in real estate. <br />
        Either you are interested in buying a new property in Turkey, or you are looking for a company which can look after your investment, we are here to offer you the best service.
    </p>
    <p style="text-align:center; font-size:16px; color:#bbb; padding-top:0; padding-bottom:0; padding-right: 5%;
    padding-left: 5%;">
        Narus Global is a professional services and investment management company specialising in real estate. <br />
        Either you are interested in buying a new property in Turkey, or you are looking for a company which can look after your investment, we are here to offer you the best service.
    </p>


    <p style="text-align:left; font-size:16px; color:#588ba8; padding-top:0; padding-bottom:0; padding-right: 3%;
    padding-left: 3%;">
        ***Narus Global is a professional services and investment management company specialising in real estate. <br />
        ***Either you are interested in buying a new property in Turkey, or you are looking for a company which can look after your investment, we are here to offer you the best service.
    </p>
</div>