
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_root.cshtml";
}

<div class="relative100" style="padding-top:2%;">
    <div class="detailtop col-md-12 col-xs-12">
        <div class="detailtopleft wow fadeInUp" data-wow-delay="0.7s">
            <ul id="image-gallery">
                <li data-thumb="/Content/images/nef_10.jpg" style="background-image: url(../Content/images/nef_b10.jpg)" data-src="~/Content/images/nef_b10.jpg">
                    <img src="~/Content/images/expand.png" class="galeryexpand">
                </li>
                <li data-thumb="/Content/images/nef_12.jpg" style="background-image: url(../Content/images/nef_b12.jpg)" data-src="~/Content/images/nef_b12.jpg">
                    <img src="~/Content/images/expand.png" class="galeryexpand">
                </li>
                <li data-thumb="/Content/images/nef_9.jpg" style="background-image: url(../Content/images/nef_b9.jpg)" data-src="~/Content/images/nef_b9.jpg">
                    <img src="~/Content/images/expand.png" class="galeryexpand">
                </li>
                <li data-thumb="/Content/images/nef_11.jpg" style="background-image: url(../Content/images/nef_b11.jpg)" data-src="~/Content/images/nef_b11.jpg">
                    <img src="~/Content/images/expand.png" class="galeryexpand">
                </li>
                <li data-thumb="/Content/images/nef_13.jpg" style="background-image: url(../Content/images/nef_b13.jpg)" data-src="~/Content/images/nef_b13.jpg">
                    <img src="~/Content/images/expand.png" class="galeryexpand">
                </li>
                <li data-thumb="/Content/images/nef_1.jpg" style="background-image: url(../Content/images//nef_b1.jpg)" data-src="~/Content/images/nef_b1.jpg">
                    <img src="~/Content/images/expand.png" class="galeryexpand">
                </li>
                <li data-thumb="/Content/images/nef_2.jpg" style="background-image: url(../Content/images/nef_b2.jpg)" data-src="~/Content/images/nef_b2.jpg">
                    <img src="~/Content/images/expand.png" class="galeryexpand">
                </li>
                <li data-thumb="/Content/images/nef_13.jpg" style="background-image: url(../Content/images/nef_b13.jpg)" data-src="~/Content/images/nef_b13.jpg">
                    <img src="~/Content/images/expand.png" class="galeryexpand">
                </li>
                <li data-thumb="/Content/images/nef_1.jpg" style="background-image: url(../Content/images//nef_b1.jpg)" data-src="~/Content/images/nef_b1.jpg">
                    <img src="~/Content/images/expand.png" class="galeryexpand">
                </li>
                <li data-thumb="/Content/images/nef_2.jpg" style="background-image: url(../Content/images/nef_b2.jpg)" data-src="~/Content/images/nef_b2.jpg">
                    <img src="~/Content/images/expand.png" class="galeryexpand">
                </li>

            </ul>
        </div>
        <div class="detailtopright">
            <p style="color:darkred; font-weight:bolder; font-size: 25px;">Total Number of visitors: @ApplicationInstance.Application["Totaluser"]</p>
           
            <p class="p6 relative100 wow fadeInUp" data-wow-delay="0.5s">
                NAR001
            </p>
            <p class="p5 wow fadeInUp" data-wow-delay="0.7s">
                <span class="span17">City <b class="ikinokta">:</b></span>
                <span class="span18">İstanbul</span>
            </p>
            <p class="p5 wow fadeInUp" data-wow-delay="0.9s">
                <span class="span17">Location <b class="ikinokta">:</b></span>
                <span class="span18">Topkapı - European Side</span>
            </p>
            <p class="p5 wow fadeInUp" data-wow-delay="1.1s">
                <span class="span17">Completion Date <b class="ikinokta">:</b></span>
                <span class="span18">December 2018</span>
            </p>
            <p class="p5 wow fadeInUp" data-wow-delay="1.3s">
                <span class="span17">Project Area <b class="ikinokta">:</b></span>
                <span class="span18">130.000 sqm</span>
            </p>
            <p class="p5 wow fadeInUp" data-wow-delay="1.5s">
                <span class="span17">Unit Types <b class="ikinokta">:</b></span>
                <span class="span18">1+1, 2+1, 3+1, 4+1</span>
            </p>
            <p class="p5 wow fadeInUp" data-wow-delay="1.7s">
                <span class="span17">Total Units <b class="ikinokta">:</b></span>
                <span class="span18">2.300</span>
            </p>
            <div class="relative100">
                <div class="pricebg wow fadeInUp" data-wow-delay="1.9s">
                    <img src="~/Content/images/prices.png" />
                    <span>
                        Starting from <label> 129.000 USD</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

